<html>
	<body>
		<p>IT WORKEEDDDDDDDDDD!!!!</p>
		<b>Name</b><%= animal.name%>
		<br>
		<b>age</b><%= animal.age%>
		<br>
		<b>traits</b><%= animal.traits%>
		<br>
		<b>breed</b><%= animal.breed%>
		<br>
		<b>species</b><%= animal.species%>
		<br>
		<b>gender</b><%= animal.gender%>
		<br>
	</body>
</html>